<html>
    <head>
      {% if title %}
      <title>{{ title }} - TeleVeb</title>
      {% else %}
      <title>Welcome to TeleVeb</title>
      {% endif %}
    </head>
    <body>
        <div>TeleVeb: 
            <a href="{{ url_for('index') }}">Home</a>
            {% if current_user.is_anonymous %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Register</a>
            {% else %}
            <a href="{{ url_for('welcome_to_chat') }}">Go Chat!</a>
            <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>