{% extends "base.html" %}

{% block content %}
    <h1>Edit my profile</h1>
            <form action="" method="POST">
                {{ username_edit_form.hidden_tag() }}
                <div class="form-group">
                    {{ username_edit_form.username.label }}<br>
                    {{ username_edit_form.username(size=32) }}<br>
                    {% for error in username_edit_form.username.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ username_edit_form.submit }}       
            </form>
            <form action="" method="POST">
                {{ email_edit_form.hidden_tag() }}
                <div class="form-group">
                    {{ email_edit_form.email.label }}<br>
                    {{ email_edit_form.email(size=32) }}<br>
                    {% for error in email_edit_form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ email_edit_form.submit }}
            </form>
            <h3>Кто может просматривать ваш профиль?</h3>
            <form action="" method="POST">
                {{ privacy_edit_form.hidden_tag() }}
                <div class="form-group">
                    {{ privacy_edit_form.privacy.label }}<br>
                    {{ privacy_edit_form.privacy(size=3) }}<br>
                    {% for error in privacy_edit_form.privacy.errors %}
                    <span style="color: blue;">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ email_edit_form.submit }}
            </form>
{% endblock %}