{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-4">
    <ul>
      {% for user in users %}
        {{ user }}<br>
      {% endfor %}
    </ul>
  </div>
  <div class="col-8">
    <ul align="center">
      {% for message in messages %}
        {{ message }}<br>
      {% endfor %}
    </ul>
    <form align="center" action="/index" method="post">
      {{ form.hidden_tag() }}
      <p>
        {{ form.message.label }}
        {{ form.message(size=64) }}
        {{ form.submit }}
      </p>
  </form>
  </div>
</div>
{% endblock %}