{% extends "base.html" %}

{% block content %}
    <h1>User: {{ user.username }}</h1>
    <div>
        <p>{{ user.friends.count() }} friends, {{ user.friendlist.count() }} friend.</p>
        {% if user == current_user %}
        <p><a href=" {{ url_for('edit_profile', pk=current_user.id) }}">Edit your profile</a></p>
        {% elif not current_user.is_friend(user) %}
        <p><a href="{{ url_for('add_friend', username=user.username) }}">Add friend</a></p>
        {% else %}
        <p><a href="{{ url_for('del_friend', username=user.username) }}">Delete friend</a></p>
        {% endif %}
    </div>
{% endblock %}