{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <h1>My profile</h1>
    <div class="row">
        <div class="col-xl-3">
            <div class="form-group">
                {{ profile_form.username.label }}<br>
                {{ profile_form.username(readonly=true) }} 
            </div>
            <div class="form-group">
                {{ profile_form.email.label }}<br>
                {{ profile_form.email(readonly=true) }}<br>           
            </div>
            <h1>Вы: {{ user.username }}</h1>
            <div>
                {% if user == current_user %}
                <p>У вас {{ user.friends.count() }} друзей, вы в друзьях у {{ user.friendlist.count() }}.</p>
                {% elif not current_user.is_friend(user) %}
                <p><a href="{{ url_for('add_friend', username=user.username) }}">Add friend</a></p>
                {% else %}
                <p><a href="{{ url_for('del_friend', username=user.username) }}">Delete friend</a></p>
                {% endif %}
            </div>
            <h4>Друзья:</h4>
            {% for friend in user.friends %}
            {{ friend.username }}
            {% endfor %}
            <div>
                <h4>Чёрный список:</h4>
                <p>У вас {{ user.black_list.count() }} пользователей в чёрном списке, 
                    вы в чёрном списке у {{ user.blacklist_user.count() }} пользователей.</p>
                {% if user == current_user %}
                {% elif not current_user.is_friend(user) %}
                <p><a href="{{ url_for('add_black_user', username=user.username) }}">Add in black list</a></p>
                {% else %}
                <p><a href="{{ url_for('del_black_user', username=user.username) }}">Remove from black list</a></p>
                {% endif %}
            </div>
            <div>
            <h4>Пользователи в чёрном списке:</h4>
            {% for black in user.black_list %}
            {{ black.username }}
            {% endfor %}
            </div>
            <a href="{{ url_for('edit_profile', pk=current_user.id) }}" class="btn btn-outline-primary" role="button" aria-pressed="true">Edit</a>
        </div>
    </div>
</div>
{% endblock %}