{% extends "base.html" %}

{% block content %}
    <h5><img src='{{ current_user.avatar }}' height="100" width="100">Добро пожаловать в чат {{ current_user.username }}!</h5>
    <h5>Your contacts:</h5>
    <div class="list-group">
        {% for user in users %}
            <a href="{{ user.id }}">{{ user.username }}</a>
        {% endfor %}
    </div>
    <form action="" method="POST">
        {{ search_form.hidden_tag() }}
        <div class="form-group">
            {{ search_form.search.label}}<br>
            {{ search_form.search() }}
            {{ search_form.submit() }}<br>
            <h6>{{ search_result }}</h6>
        </div>
    </form>
{% endblock %}